/*
 * Private settings
 * These settings should be used in the other settings files
 */

// set black so it can be used in the settings map
/*
 * Set base black and white color so it can be used in the settings
 */
$_primary: #5b88e1;
$_black: #000;
$_white: #fff;
$_gray: #666;
$_gray-light: #dcdcdc;
$_gray-lighter: #f3f3f3;
